<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Add Recipe</title>
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center mt-3">
            <div class="col-sm-8">
                <h1>Add New Recipe</h1>
            </div>
            <div class="col-sm-4">
                <a href="/dashboard" class="btn btn-primary me-1">Dashboard</a>
                <a href="/" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <form class="container d-flex justify-content-between" action="/recipe/new" method='post'>
            <div class="col-4 mt-3">
                <div>
                    <div class="row mt-3">
                        <label for="name">Name:</label>
                        <input class='form-control' type="text" name="name" id="">
                    </div>
                    <div class="row mt-3">
                        <label for="description">Description:</label>
                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="row mt-3">
                        <label for="instructions">Instructions:</label>
                        <textarea name="instructions" id="" cols="30" rows="10"></textarea>
                    </div class="row mt-3">
                    <button class="btn btn-warning"> Create</button>
                    <div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div>
                    <div class='row'>
                        <label for="date_made">Date made on:</label>
                        <input type="date" name="date_made" id="">
                    </div>
                    <div class='row mt-3'>
                        <label for="under_30">Under 30 Minutes?</label>
                        <div class="d-flex align-items-center">
                            <input value='1' type="radio" name="under_30" id=""> <label for="yes"
                                class="me-4">Yes</label>
                            <input value='0' type="radio" name="under_30" id=""> <label for="no">No</label>
                        </div>

                    </div>
                </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style='color: red;'>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    </div>