<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <style>
        .square1{
            background-color: {{color1}};
        }
        .square2{
            background-color: {{color2}};
        }
    </style>
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>***CHECKERBOARD***</h1>
        </div>
        <div class="body">
            <table>
                {% for i in range(num): %}
                <tr >
                    {% for j in range(num2): %}
                    {% if i % 2 == 0: %}
                        {% if j % 2 == 0: %}
                            <td class="square1">c1</td>
                        {% else: %}
                            <td class="square2">c2</td>
                        {% endif %}
                    {% else: %}
                    {% if j % 2 == 0: %}
                        <td class="square2">c2</td>
                    {% else: %}
                        <td class="square1">c1</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>